.title {
  border: 2px solid black;
  background-color: white;
}
#title {
  color: black;
  font-family: Arial;
  text-align: center;
}
.main {
 border: 4px solid black;
}
.headline {
 color: black;
 text-align: center;
}
.head_article {
  text-align: right;
}
#ender {
 color:black;
  font-size: 10px;
}
.article {
 border: 2px dashed black;
  
}
.article_head {
 color:black;
  text-align: center;
}
.ad {
  color:black;
  font-size: 15px;
}
.ad_img {
  margin: -10px;
  width: 100px;
  height: 100px;
}
.ad_div {
  border: 2px solid black; 
}
#issue {
 background-color: white; 
}
.head_pic {
 border: 6px solid black;
  margin: auto;
  width: 200px;
  height: 200px;
}
