.title {
  border: 2px solid black;
  background-color: black;

}
#title {
  text-align: center;
  color: white;
}
.navbar {
 background-color: red;
 border: 2px dashed black;
}
a {
 text-decoration: none; 
}
.about {
 border: 2px solid red;
  background-color:blue;
  
}
.profile {
 width: 50px;
  height: 50px;
  margin-left: -10px;
}
.profile_descrip {
  font-size: 30px;
  color:black;
  
}
